.productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (width>=450px) {

    /* estilos mobile */
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (width>=768px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);

    }
}