
.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 10rem;
}



@media (width>=768px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);

    }
}