.detalle__producto {
    padding: 2rem;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: inherit; */
    /* Cada elemento se ocupa una fila */
    /* grid-column: 1 / -1;
    align-items: center; */

}

.detalle__producto img {
    /* max-width: 5rem; */
    width: 30%;
}

.detalle__producto--precio {
    font-weight: bold;
}

.detalle__producto p {
    text-align: center;
}

@media (width>=768px) {
    .detalle__producto p {
        font-size: 1.5rem;
    }
}

.boton-eliminar {
    color: #FFF;
    background-color: #fa5758;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.boton-eliminar:hover {
    background-color: #b84040;
}