.detalle__producto {
    padding: 1rem;
    border-bottom: 1px solid #e1e1e1;
    display: grid;
    grid-template-columns: inherit;
    /* Cada elemento se ocupa una fila */
    grid-column: 1 / -1;
    align-items: center;

}

.detalle__producto img {
    max-width: 5rem;
}

.detalle__producto--precio {
    font-weight: bold;
}

.detalle__producto p {
    text-align: center;
}