.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.nav-bg {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

}

@media (min-width: 768px) {
    .swal2-show {
        font-size: 2rem;
    }
}