.detallesProducto {
    background-color: #FFF;
    position: absolute;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    z-index: 99;
    border-radius: 5px;
    overflow: hidden;
}