.producto {
    padding: 2rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (width>=768px) {
    .producto:hover {
        transform: scale(1.02);
    }
}

.producto__imagen {
    width: 100%;
}

.producto__nombre {
    font-size: 3rem;
}

.producto__precio {
    font-size: 1.5rem;
}

.producto__precio--bold {
    font-weight: bold;
}