/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /* Hack de rem */
    font-size: 62.5%;
}

body {
    color: #0A283E;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}